/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  /* regular / 400 */
  font-family:'Expletus Sans';
  src:url('../fonts/ExpletusSans-Regular.ttf');
  font-weight:400;
}

@font-face {
  /* bold / 700 */
font-family:'Expletus Sans Bold';
  src:url('../fonts/ExpletusSans-Bold.ttf');
  font-weight:700;
}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-family: 'Expletus Sans', sans-serif;

}

li:first-of-type p {
  /* JOUW CODE HIER */
   font-family:'Expletus Sans';

}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
font-family:'Expletus Sans Bold';
  
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

/* tweede blokje */
li:nth-of-type(2) {
  --color: hsl(0 0% 100%);
  --background: rgb(0, 24, 54);
  --shadow: cyan;

  display: grid;
  grid-auto-columns: min-content;
  place-content: center;
  text-align: center;
  background-color: var(--background);
}

li:nth-of-type(2) h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.2;
  text-transform: uppercase;
  color: cyan;
  
  /* mooie glow */
  text-shadow:
    0 0 5px cyan,
    0 0 10px cyan,
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 80px cyan;
}






/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: 'Saira-Condensed';
  src: url('../fonts/Saira_Condensed-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
   background-color:var(--background);

}
li:nth-of-type(3) h2 {
  margin: 0;
  transform: rotate(-10deg);
  display: inline-block;

  font-family: 'Saira-Condensed';
  font-size: 3.5em;
  line-height: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--color);
  text-shadow: .1em .1em 0 var(--shadow);
}
